/*CSS DOCUMENT */


body {
	background-color: #f9fff1;
	color: #252723;

div.container {
	max-width: 50em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
	color: #252723;
}

h1 {
	font-size: 5em;
	font-family: the-seasons, sans-serif;
font-weight: 700;
font-style: normal;
}

h2 {
	font-size: 2em;
	font-family: the-seasons, sans-serif;
font-weight: 400;
font-style: normal;
margin-bottom: 0.5em;
margin-top: 2em;
}

h3 {
	font-size: 1.5em;
	font-family: adriane, serif;
font-weight: 700;
font-style: normal;
padding: 20px 0px 5px 0px;
}

p {
	font-size: 1em;
	font-family: "adriane", serif;
	font-weight: 400;
	font-style: normal;
}

figcaption {
	font-size: 1em;
	font-family: "adriane", serif;
font-weight: 400;
font-style: italic;
}

