/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

h1 {
    width: 20em;
    padding: 1em 0.5em;
}

div.container, div.home-container {
    margin: auto;
    max-width: 40em;
    background-color: #F4FFFD;
}

body {
    background-color: #F4FFFD;
}


nav ul li {
    margin-left: 0.5em;
    list-style: none;
    font-family: 'obviously', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: lowercase;
    color: #011936;
    line-height: 1.5em;
    text-align: left;
}

nav ul {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

figcaption {
    font-family: 'loos-normal', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #03418C;
    padding: 0em 0.5em;
}    

section.maintitlestory a figure {
    margin: 0;
}

section.maintitlestory a h2 {
    padding-left: 0.3em;
    font-family: 'obviously-extended', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 2em;
    color: #ED254E;
}

section.secondarystory a h2 {
    font-family: 'obviously-wide', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #ED254E;
    padding-left: 0.4em;
}

section.tertiarystory a h2 {
    font-family: 'obviously', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
    font-size: 1em;
    color: #F15574;
    padding-top: 0.5em;
    border-top: 1px solid #111122;
}

section.maintitlestory a p {
    padding-left: 0.7em;
    margin-bottom: 0.5em;
}

section.secondarystory a p {
    padding-left: 0.7em;
    margin-bottom: 0.5em;
}


aside h2 {
    font-size: 1.2em;
    font-family: serif;
    font-weight: bold;
    color: #5C7696;
}

article h2 {
    font-family: 'obviously-extended', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.7em;
    color: #E2123C;
    padding-left: 0.3em;
}

article p {
    padding-left: 0.7em;

}

p {
    font-family: 'loos-normal', sans-serif;
    font-weight: 400;
    color: #011936;
    line-height: 1.3em;
}

aside {
    background-color: #EBFFFB;
    padding: 1em 1em 2em;
    margin-top: 1em;
}

aside h2 {
    font-family: 'obviously-wide', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #F15574
}

footer {
    background-color: #011936;
    padding: 1em 0.2em 1em;
    box-sizing: border-box;
}

p.footer {
    color: #fefbec;
}

@media only screen and (min-width: 40em) {
    nav ul li {
        display: inline;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 60em) {
    div.home-container {
        max-width: 80em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    }

    div.container {
        max-width: 60em;
    padding: 0 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    } 

    header, footer {
        grid-column: 1/3
    }

    div.home-container main {
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-gap: 1em;
    }

    section.maintitlestory {
        grid-column: 2/4;
        grid-row: 1/3; 
        display: flex;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    } 

    section.maintitlestory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.maintitlestory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.maintitlestory a figure img {
        object-fit: cover;
    }

    section.maintitlestory a h2 {
        flex: 0 0 1em;
        padding-left: 0;
    }

    section.maintitlestory a p  {
        flex: 0 0 4em;
        padding-left: 0;
    }


    section.secondarystory {
        display: flex;
    }

    section.secondarystory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondarystory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondarystory a figure img {
        object-fit: cover;
    }

    section.secondarystory a h2 {
        flex: 0 0 1em;
        padding-left: 0;
    }

    section.secondarystory a p  {
        flex: 0 0 4em;
        padding-left: 0;
    }
    

    section.tertiarystory {
        margin: 0;
        margin-bottom: 1em;
    }

    aside figure {
        padding-top: 1em;
    }

    article h2 {
        padding-left: 0em;
    }

    article p {
        padding-left: 0em;
    }

    figcaption {
        padding: 0;
    }

    }
