/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	padding: 0;
	}

div.container {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	max-width: 60em;
	margin: auto;
	margin-top: 3em
}

figure {
	margin: 0em;
}

header {
	flex: 1 0 100%;
}

article {
	flex: 1 0 30em;
	margin-left: 0;
}

aside {
	flex: 1 0 15em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

section a {
	text-decoration: none;
	color:#222;
}

h3 {
	line-height: 0;
}

section {
	background-color: #EEEEEE;
	padding: 1em 1em 1.5em 1em;
}

footer {
	flex: 1 0 100%;
	border-top: 1px solid #828282;
	margin-top: 3em;
}

footer a {
	color: #828282;
	text-decoration: none;
}
